 h1,h2,h3,p,ul,li{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
ul{
	list-style: none;
}
/* BEGIN NAV */
#nav{
	width: 100%;
	height: 12%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #ffffff;
	box-shadow: 0px 0px 25px;
	z-index: 1000;
}
#nav ul{
	width: 50%;/* set width by by jQuery */
	font-size: 30px;
	position: absolute;
	right: 0;
	bottom: 0;
	border-right: 1px solid blue; border-left: 1px solid blue;
}
#nav ul li{
	width: auto;
	height: 100%;
	display: inline-block;
	float: right;
}
#nav ul p{
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: bottom;
	color: black;
	border: 1px solid black;
}
#toggleNavMenu{
	display: none;
}
/* BEGIN POPUP */
#popup{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 800;
	background-color: #000000;
}
#popup-top{
	width: 100%;
	height: 10%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 850;
	background-color: #000000;
}
#popup button{
	height: 70%;
	position: absolute;
	top: 15%;
	right: 5%;
	display: block;
}
#popup p{
	width: 90%;
	height: auto;
	padding: 4% 5% 1% 5%;
	position: fixed;
	top: 10%;
	left: 0;
	background-color: #000000;
	color: white;
	text-align: center;	
	box-shadow: 0px 20px 20px #000000;
	z-index: 850;
}
#popup ul{
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	background-color: #000000;
}
#popup ul li{
	width: 100%;
	height: auto;
	padding-bottom: 5%;
}
#popup div img{
	width: 80%;
	max-height: 97%;
	display: block;
	margin: 0 auto;
	z-index: 825;
}
/* BEGIN CONTENT */
#content{
	width: 100%;
	height: 352%;
	position: absolute;
	top: 12%;
	left: 0;
	z-index: 900;
}
.section{
	width: 100%;
	height: 25%;
}
/* LANDING */
#Landing{
	background-color: red;
	position: relative;
}
#Landing ul{
	width: auto;
	height: auto;
	position: absolute;
	top: 36%;
	color: white;
	font-size: 20px;
	border: 2px solid white;
	padding: 0 5%;
}
#Landing ul li{
	display: inline-block;

}
#Landing ul li:nth-child(2){
	display: inline-block;

}
#Landing div h1{

	text-align: center;
}
/* ABOUT */
#About{
	position: relative;
}
#about-head{
	width: 90%;
	height: 10%;
	position: relative;
	left: 10%;
	border-top: 1px solid red;
	display: table;
	z-index: 950;
}
#about-head h1{
	float: left;
	display: table-cell;
	vertical-align: middle;
	margin: 1.5% 0;
	padding: 0 2%;
}
#about-head h1:nth-child(2){
	border-left: 1px dashed black;
}
#timeline{
	width: 100%;
	height: 60%;
	position: relative;
	z-index: 950;
	border-top: 1px solid gold;
}
#timeline ul{}
#timeline ul li{}
#timeline ul li p{
	display: none;
}
#bio{
	width: 100%;
	height: 30%;
	position: absolute;
	bottom: 0;
	border-top: 1px solid blue;
	z-index: 950;
}
#bio div{
	float: left;
	height: 90%;
	padding-top: 1%;
	overflow-y: hidden;
	border-bottom: 1px solid red;
}
#bio div:nth-child(1){
	width: 60%;
/*	background-color: lightblue; */
}
#bio div:nth-child(2){
	left: 60%;
	width: 40%;		
/*	background-color: purple; */
}
#bio div h2{
	width: 100%;
	text-align: center;
}
#bio div p{
	padding: 1% 2% 0 2%;
}
.border-canvas{
	width: 100%;
	height: 105%;
	position: absolute;
	border-top: 2px solid green; 
	border-bottom: 2px solid green;
}
#saw-bg-top{
	top: 0;
	z-index: 930;
}
#saw-bg-top canvas{
	background-repeat: no-repeat;
	background-size: cover;
}

/* WORK */
#Work{
	background-image: url('img/work-bg.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top left;
	position: relative;
}

#saw-bg-bottom{
}
#work-menu{
	width: 40%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	perspective: 900px;
}
#work-menu h3{
	width: auto;
	padding: 1% 2%;
	display: inline-block;
	background-color: black;
	color: white;
	text-align: center;
	box-shadow: 0 20px 20px #000000;
}
#work-menu h3:nth-child(1){
	margin-top: 14%;
	margin-left: 3%;
	transform: rotateY(-37deg) rotate(5deg);
	font-size: 33px;
}
#work-menu h3:nth-child(2){
	margin-top: 8%;
	transform: rotateY(47deg) rotate(-5deg);
	font-size: 25px;
}
#work-menu ul{
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 10%;
}
#work-menu ul li{
	height: 30%;
	width: 100%;
	position: relative;
	left: -30%;
	margin-bottom: 3%;
	text-align: center;
}
#work-menu ul li:last-child{
	margin-bottom: 0;
}
#work-menu ul li p{
	display: none;
}
#work-menu ul li canvas{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
#work-carousel{
	width: 60%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	overflow-y: auto;
}
.portfolio{
	width: 80%;
	height: auto;
	position: relative;
	margin: 10% 0;
	left: 10%;
	padding: 0;
	color: black;
	text-align: center;
	font-size: 20px;
}
.portfolio li{
	width: 100%;
	height: auto;
	margin-bottom: 5%;
}
.portfolio-thumbnail{
	max-width: 100%;
}
.portfolio-thumbnail img{
	max-width: 100%;
	height: 25%;
	margin-bottom: 2%;
	box-shadow: 0 10px 20px;
}
.portfolio-thumbnail img:hover{
	border: 3px solid white;
}
.portfolio-thumbnail h2{
	padding: 0 1%;
}
.portfolio-details{
	display: none;
}
/* CONTACT */
#Contact{
	position: relative;
	background-color: green;
	z-index: 950;
}
#contact-card{
	width: 100%;
	height: 50%;
	position: relative;
	top: 10%;
	background-color: lightgreen;
	z-index: inherit;
}
@media (max-width: 800px){
	#nav ul{		
		width: 60%;
		height: 100%;
		position: fixed;
		top: 0;
		right: -60%;
		overflow: hidden;
		display: block;
		background-color: gray;
	}
	#nav ul li{
		width: 100%;
		height: 25%;
		display: table;
		border-bottom: 1px solid black;
	}
	#nav ul p{
		display: table-cell;
		vertical-align: middle;
	}
	#toggleNavMenu{
		height: auto;
		width: auto;
		display: block;
		position: absolute;
		right: 20px;
		top: 10%;
		bottom: 10%;
		padding: .5%;
		border: 1px solid black;
	}
	#Landing ul{
		padding: 5% 2%;
	}
	#Landing ul li{
		display: block;
	}
	#Landing ul li:nth-child(2){
		display: block;
		margin: 5% 0;
	}
	#About{
		background-image: url('img/graph.png');
	}
	.border-canvas canvas{
		display: none;
	}
	#about-head{
		font-size: 14px;
	}
	#timeline{
		height: 50%;
	}
	#bio{
		height: 40%;
		width: 100%;
	}
	#bio div:nth-child(1) , #bio div:nth-child(2){
		width: 100%;
		height: 50%;
		left: 0;
	}
	#work-menu{
		height: 10%;
		width: 100%;
		background-image: url('img/work-bg.png');
		background-size: 50% 1000%;
		background-position: top left;
		position: absolute;
		top: 0;

		z-index: 950;
	}
	.saw-canvas{
		display: none;
	}
	#work-menu h3{
		color: white;
	}
	#work-menu h3:nth-child(1), #work-menu h3:nth-child(2){
		display: block;
		height: 25%;
		width: 100%;
		position: absolute;
		left: 0;
		padding: 1.5% 0 0 0;
		margin: 0;
		transform: none;
		font-size: 12px;
		box-shadow: none;
		opacity: .8;
	}
	#work-menu h3:nth-child(1){
		bottom: -865%;
	}
	 #work-menu h3:nth-child(2){
		bottom: -900%;
		border-top: 1px solid #000000;
	}
	#work-menu ul{
		height: 100%;
		width: 80%;
		position: absolute;
		left: 20%;
		top: 0;
	}
	#work-menu ul li{
		width: 16%;
		height: 50%;
		display: inline-block;
		margin-left: 13%;
		padding-top: 1%;
		left: 0;
		background-color: black;
		color: #ffffff;
		text-align: center;
	}
	#work-menu ul li p{
		height: auto;
		width: auto;
		padding: 7.5%;
		display: block;
		vertical-align: middle;
	}
	#work-menu ul li canvas{
		display: none;
	}
	#work-carousel{
		height: 90%;
		width: 100%;
		top: 10%;
		background-image: url('img/work-bg.png');
	}
	.portfolio{
		margin-bottom: 15%;
		margin-top: 0%;
	}
}