h1,h2,h3,p,ul,li{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
ul{
	list-style: none;
}
/* BEGIN NAV */
#nav{
	width: 100%;
	height: 12%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #ffffff;
	z-index: 1000;
	box-shadow: 0px 0px 25px;
}
#nav ul{
	width: 50%;/* set width by by jQuery */
	font-size: 30px;
	position: absolute;
	right: 0;
	bottom: 0;
}
#nav ul li{
	width: 25%;
	height: 100%;
	display: inline-block;
}
#nav ul a{
	width: 100%;
	height: auto;
	display: block;
	text-align: center;
	vertical-align: bottom;
	text-decoration: none;
	color: black;
}
#nav button{
	display: none;
}

/* BEGIN POPUP */
#popup{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 800;
	background-color: #000000;
}
#popup-top{
	width: 100%;
	height: 10%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 850;
	background-color: #000000;
}
#popup button{
	height: 70%;
	position: absolute;
	top: 15%;
	right: 5%;
	display: block;
}
#popup p{
	width: 90%;
	height: auto;
	padding: 4% 5% 1% 5%;
	position: fixed;
	top: 10%;
	left: 0;
	background-color: #000000;
	color: white;
	text-align: center;	
	box-shadow: 0px 20px 20px #000000;
	z-index: 850;
}
#popup ul{
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	background-color: #000000;
}
#popup ul li{
	width: 100%;
	height: auto;
	padding-bottom: 5%;
}
#popup div img{
	width: 80%;
	max-height: 97%;
	display: block;
	margin: 0 auto;
	z-index: 825;
}
/* BEGIN CONTENT */
#content{
	width: 100%;
	height: 352%;
	position: absolute;
	top: 12%;
	left: 0;
	z-index: 900;
}
/* LANDING */
#Landing{
	background-color: red;
}
#Landing div{
	width: 60%;
	height: auto;
	float: left;
	margin-left: 20%;
	color: white;
	font-size: 20px;
	border: 2px solid white;
	padding: 0 5%;
}
#Landing div h1{
	float: left;
	text-align: center;
}
/* ABOUT */
#About{
	background-color: orange;
	overflow: hidden;
}
#about-head{
	width: 90%;
	height: 10%;
	position: relative;
	left: 10%;
	border-top: 1px solid red; border-bottom: 1px solid red;
	display: table;
}
#about-head h1{
	float: left;
	display: table-cell;
	vertical-align: middle;
	margin: 1.5% 0;
	padding: 0 2%;
}
#about-head h1:nth-child(2){
	border-left: 1px dashed black;
}
#timeline{
	width: 100%;
	height: 60%;
	border-top: 1px solid gold; border-bottom: 1px solid gold;
}
#timeline ul{}
#timeline ul li{}
#timeline ul li p{
	display: none;
}
#bio{
	width: 100%;
	height: 30%;
	border-top: 1px solid green; border-bottom: 1px solid green;
	overflow: hidden;
}
#bio div{
	float: left;
	height: 100%;
}
#bio div:nth-child(1){
	width: 60%;
	background-color: lightblue;
}
#bio div:nth-child(2){
	left: 60%;
	width: 40%;		
	background-color: purple;
}
#bio div h2{
	width: 100%;
	text-align: center;
}
#bio div p{
	padding: 1% 2% 0 2%;
}

/* WORK */
#Work{
	background-image: url('img/work-bg.png');
	position: relative;
}
.saw-border{
	width: 100%;
	height: 5%;
	position: absolute;
	left: 0;
	border: 1px solid green;
	z-index: 970;
}
.saw-border:last-child , #saw-canvas-bottom{
	bottom: 0;
}
.saw-canvas{
	width: 100%;
	height: 5%;
	position: absolute;
	background-color: #ffffff;
	opacity: .7;
	z-index: 990;
}
#work-menu{
	width: 40%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	perspective: 900px;
	z-index: 980;
}
#work-menu h3{
	width: auto;
	padding: 1% 2%;
	display: inline-block;
	background-color: black;
	color: white;
	text-align: center;
	box-shadow: 0 20px 20px #000000;
	z-index: 980;
}
#work-menu h3:nth-child(1){
	margin-top: 15%;
	margin-left: 20%;
	transform: rotateY(45deg) rotate(-5deg);
	font-size: 30px;
}
#work-menu h3:nth-child(2){
	margin-top: 8%;
	transform: rotateY(-45deg) rotate(5deg);
	font-size: 25px;
}
#work-menu ul{
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 10%;
}
#work-menu ul li{
	height: 30%;
	width: 100%;
	position: relative;
	left: -30%;
	margin-bottom: 3%;
	text-align: center;
}
#work-menu ul li:last-child{
	margin-bottom: 0;
}
#work-menu ul li canvas{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
#work-carousel{
	width: 60%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	overflow-y: auto;
	z-index: 960;
}
.portfolio{
	width: 80%;
	height: auto;
	position: relative;
	margin: 10% 0;
	left: 10%;
	padding: 0;
	color: black;
	text-align: center;
	font-size: 20px;
}
.portfolio li{
	width: 100%;
	height: auto;
	margin-bottom: 5%;
}
.portfolio-thumbnail{
	max-width: 100%;
}
.portfolio-thumbnail img{
	max-width: 100%;
	height: 25%;
	margin-bottom: 2%;
	box-shadow: 0 10px 20px;
}
.portfolio-thumbnail img:hover{
	border: 3px solid white;
}
.portfolio-thumbnail h2{
	padding: 0 1%;
}
.portfolio-details{
	display: none;
}
/* CONTACT */
#Contact{
	background-color: green;
}
#contact-card{
	width: 100%;
	height: 50%;
	position: relative;
	top: 10%;
	background-color: lightgreen;
}
.section{
	width: 100%;
	height: 25%;
}
@media (max-width: 800px){
	#nav ul{		
		width: 60%;
		height: 100%;
		position: fixed;
		top: 0;
		right: -60%;
		overflow: hidden;
		display: block;
		background-color: gray;
	}
	#nav ul li{
		width: 100%;
		height: 25%;
		display: table;
		border-bottom: 1px solid black;
	}
	#nav ul a{
		display: table-cell;
		vertical-align: middle;
	}
	#nav button{
		height: auto;
		width: auto;
		display: block;
		position: absolute;
		right: 20px;
		top: 10%;
		bottom: 10%;
		padding: .5%;
		border: 1px solid black;
	}
	#about-head{
		font-size: 14px;
	}
	#timeline{
		height: 50%;
	}
	#bio{
		height: 40%;
		width: 100%;
	}
	#bio div:nth-child(1) , #bio div:nth-child(2){
		width: 100%;
		height: 50%;
		left: 0;
		overflow: hidden;
	}
	#work-menu{
		height: 10%;
		width: 100%;
		background-color: pink;
	}
	.saw-border , .saw-canvas{
		display: none;
	}
	#work-menu h3:nth-child(1), #work-menu h3:nth-child(2){;
		display: inline;
		width: auto;
		background-color: black;
		color: white;
		font-size: 12px;
		transform: none;
		margin:0;
		padding: 0;	
		text-align: left;
		box-shadow: none;
	}
	#work-menu ul{
		height: 100%;
		width: 80%;
		left: 20%;
		top: 0;
	}
	#work-menu ul li{
		display: inline-block;
		width: 33%;
		border: none;
	}
	#work-menu ul canvas{
		display: none;
	}
	#work-carousel{
		height: 100%;
		width: 100%;
		background-image: url('img/work-bg.png');
	}
}